<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Simple Site with APIs</title>
    
</head>
<body>
    {{> header }}
    <div class="crypto-main">
        <section class="crypto-section">
            <p> 
                Crypto data.
            </p><br>

            <table class="crypto-table">
                <th class="crypto-table-header">
                    <td class="crypto-table-header-item">Name</td>
                    <td class="crypto-table-header-item">Symbol</td>
                    <td class="crypto-table-header-item">Price</td>
                </th>
                {{#each data}}
                <tr>
                    <td></td>
                    <td>{{this.name}}</td>                    
                    <td>{{this.symbol}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </table>
            
            
            
            
        </section>
    </div>
    {{> footer}}
</body>
</html>