<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles2.css">
    <title>Simple Site with APIs</title>
    
</head>
<body>
    <div class="main">
        {{> header }}
        <section class="main-section">
            <p>Welcome to the index page of my website.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla eum, velit minima qui et maxime unde natus, nesciunt, deserunt sunt perferendis animi consequuntur accusantium fuga sequi quo tempore adipisci fugit.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, possimus? Ullam illum amet ducimus quae exercitationem beatae ut ipsa voluptatum, veniam vitae odio veritatis. At eius nostrum voluptatum expedita aspernatur?
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste rerum nam architecto neque qui repellendus magnam aliquid, provident fuga, similique, deleniti expedita temporibus doloremque possimus soluta hic nihil quaerat odio!
            </p>
        </section>
        {{> footer}}
    </div>
</body>
</html>