<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {{> header }}
    <div class="main">
        <section class="main-section">
            <p>Welcome to the index page of my website.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla eum, velit minima qui et maxime unde natus, nesciunt, deserunt sunt perferendis animi consequuntur accusantium fuga sequi quo tempore adipisci fugit.
            </p>
        </section>
    </div>
    {{> footer}}
</body>
</html>