<header>
    <div class="header">
        <ul class="header-container">
            <li class="header-item"><a href="/">Home</a></li>
            <li class="header-item"><a href="/about">About</a></li>
            <li class="header-item"><a href="/crypto">Crypto</a></li>
        </ul>
    </div>
</header>