<header>
    <div class="header">
        <ul class="header-container">
            <li class="header-item"><a href="#">Home</a></li>
            <li class="header-item"><a href="#">About</a></li>
            <li class="header-item"><a href="#">Crypto</a></li>
        </ul>
    </div>
</header>