/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* APPLICATION SPECIFIC STYLING FROM HERE */

.main {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.2px;
}

.main-section {
    padding: 10px;
    max-width: 80%;
    margin: auto;

}

.header, footer {
    padding: 20px;
}

.header {
    font-size: 1.7rem;
    letter-spacing: 2px;
	line-height: 30px;

    background-color: slategray;
}

.header-item > a{
    color: white;
}

footer {
    color: gray;
    font-size: smaller;
	font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    
}



p {
	padding-top: 30px;
}


ul {
	display: inline-block;
}

li {
	display: inline-block;
	padding-right: 20px;
}


a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: goldenrod;

	animation: whiteToGoldenrod;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

a:active {
	opacity: 0.7;
}

@keyframes blackToGoldenrod {
	from { color: black; }
	to { color: goldenrod; }
}

@keyframes whiteToGoldenrod {
	from { color: white; }
	to { color: goldenrod; }
}


/* TABLE */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;	
	}
}

table {
	margin: auto;
    border: 2px solid lightgray;
    
    animation: fadeIn;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.crypto-table-header-item {
	font-weight: bolder;
}

th {
	padding: 10px;
	background-color: slategray;
	color: white;
}

td {
	padding: 5px;
	padding-right: 30px;
}

tr:nth-child(odd) {
	background-color: lightgray;
}

tr:nth-child(odd):hover {
	background-color: lightslategray;
}

.section {
    width: 100%;
    text-align: center;
}


.section-paragraph 
{
    font-size: 1.2rem;
    padding: 20px;
    
}

.section-coingecko {
	font-family: monospace;
	font-size: small;
    margin-top: -20px;
    padding-bottom: 40px;
    
}

#gecko:hover {
    animation: blackToGoldenrod;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}


@media  screen and (min-width: 1100px) {
	
	.main-section {
		max-width: 900px;
    }
	
}